:root, html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: #FAFAFA;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  margin:0;
}

#grid__container {
  height: 100%;
}

.flex--row {
  display: flex;
  flex-flow: row;
}

/* typography */
h1, h2, h3, h4, h5, p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
a {
  text-decoration: none;
  color: lightskyblue;
}
a:hover {
  color: blue;
}
