/*
 * Variables
 */
@import './assets/stylesheets/typography.scss';
$backgroundColor: FAFAFA;
$accentColor: #03DAC5;
$frontlab: #AA00FF;

/*
 * frontlab theme
 */
.frontlab--color {
  color: $frontlab;
}

/*
 * Base
 */
html, body {
  height: 100%;
  background-color: $backgroundColor;
  color: #222222;
  margin:0;
  overflow-x: hidden;
}
div {
  box-sizing: border-box;
}

/*
 * Grid styles
 */
#grid__container {
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'content'
    'footer';
  grid-gap: 8px;
}
.grid__header { grid-area: header; }
.grid__main { grid-area: main; }
.grid__content { grid-area: content; }
.grid__footer { grid-area: footer; }

/*
 * Flex styles
 */
.flex {
  display: -webkit-box;   /* OLD - iOS6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* NEW, Spec - Firefox, Chrome, Opera */
}

.flow--row {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flow--column {
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.flow--row *,
.flow--column * {
  -webkit-flex: 1; /* Safari 6.1+ */
  flex: 1;
}
.align__self--center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.align__items--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify__content--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*
 * Container styles
 */
.content--padding {
  padding: 8px;
  @media (min-width: 960px) {
    padding: 16px;
  }
}
.content--margin {
  margin: 8px;
  @media (min-width: 960px) {
    margin: 16px;
  }
}

/*
 * Toolbar
 */
.toolbar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  position: fixed;
  padding: 0 16px;
  background-color: white;
  transition: all .28s cubic-bezier(.4,0,.2,1);
}
.toolbar--raised {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  border: none;
  background-color: $accentColor;
  color: #222;
  opacity: 0.79;
}

/*
 * Cards
 */
.card {
  height: 120px;
  margin: 5px;
  min-width: 320px;
  background-color: #DFDFDF;
}

/*
 * Breath
 */
.no-margins {
  margin: 0;
}
