/*
 * Variables
 */
@import './assets/stylesheets/variables.scss';
@import './assets/stylesheets/typography.scss';
$backgroundColor: FAFAFA;
$accentColor: #03DAC5;
$frontlab: #AA00FF;

/*
 * frontlab theme
 */
.frontlab--color {
  color: $frontlab;
}

/*
 * Base
 */
html, body {
  height: 100%;
  background-color: $backgroundColor;
  color: #222222;
  margin:0;
  overflow-x: hidden;
}
div {
  box-sizing: border-box;
}

/*
 * Grid styles
 */
#grid__container {
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'content'
    'footer';
  grid-gap: 8px;
}
.grid__header {
  grid-area: header;
  height: 64px;
}
.grid__main {
  grid-area: main;
  max-height: 100px;
}
.grid__content { grid-area: content; }
.grid__footer { grid-area: footer; }

/*
 * Flex styles
 */
.flex {
  display: -webkit-box;   /* OLD - iOS6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* NEW, Spec - Firefox, Chrome, Opera */
}

.flow--row {
  flex-flow: row wrap;
}
.flow--column {
  flex-flow: column wrap;
}
.flow--row *,
.flow--column * {
  flex: 1;
}
.align__self--center {
  align-self: center;
}
.align__items--center {
  align-items: center;
}
.justify__content--center {
  justify-content: center;
}

/*
 * Container styles
 */
.page__content {
  // phones
  @media (max-width:$phone_only) {
    padding: 0 10px;
  }
  // tablet portrait
  @media (min-width: $tablet_portrait_min) and (max-width: $tablet_portrait_max) {
    padding: 0 40px;
  }
  // tablet landscape
  @media (min-width: $tablet_landscape_min) and (max-width: $tablet_landscape_max) {
    padding: 0 60px;
  }
  // desktops
  @media (min-width: $desktop_min) and (max-width: $desktop_max) {
    padding: 0 220px;
  }
  // large desktops
  @media (min-width: $big_desktop_min) {
    padding: 0 300px;
  }
}
.content--padding {
  box-sizing: border-box;
  padding: 8px;
  @media (min-width: 960px) {
    padding: 16px;
  }
}
.content--margin {
  margin: 8px;
  @media (min-width: 960px) {
    margin: 16px;
  }
}

/*
 * Toolbar
 */
.toolbar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
  position: fixed;
  padding: 0 16px;
  background-color: white;
  transition: all 0.6s ease;
}
.toolbar--raised {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  border: none;
  background-color: $accentColor;
  color: #222;
  opacity: 0.79;
}

/*
 * Cards
 */
.card {
  height: 120px;
  margin: 5px;
  min-width: 200px;
  background-color: #DFDFDF;
  transition: all 0.4s ease;
}
.card:not(.disabled) {
  box-shadow: $box_shadow;
}
.card:focus {
  outline: none;
}
.card.disabled {
  height: 120px;
  margin: 5px;
  min-width: 200px;
  background-color: #EAEAEA;
  color: #BDBDBD;
}
.card:not(.disabled):hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: $big_box_shadow;
}

/*
 * Tables
 */
tr > th,
tr > td {
  padding: 16px;
}

/*
 * Breath
 */
.no-margins {
  margin: 0;
}
