/*
 * Variables
 */
@import './assets/stylesheets/typography.scss';
$backgroundColor: lightblue;
$frontlab: #AA00FF;

html, body {
  height: 100%;
  background-color: #FAFAFA;
  color: #222222;
  margin:0;
}

.grid__header { grid-area: header; }
.grid__main { grid-area: main; }
.grid__cards { grid-area: cards; }
.grid__footer { grid-area: footer; }

#grid__container {
  overflow-x: hidden;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'cards'
    'footer';
  grid-gap: 8px;
}

/* css flex */
.flex {
  display: -webkit-box;   /* OLD - iOS6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;   /* TWEENER - IE 10 */
  display: -webkit-flex;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* NEW, Spec - Firefox, Chrome, Opera */
}

.flow--row {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flow--column {
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.flow--row *,
.flow--column * {
  -webkit-flex: 1; /* Safari 6.1+ */
  flex: 1;
}
.align__self--center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.align__items--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify__content--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content--padding {
  padding: 8px;
  @media (min-width: 960px) {
    padding: 16px;
  }
}

.content--margin {
  margin: 8px;
  @media (min-width: 960px) {
    margin: 16px;
  }
}

/* cards */
.card {
  height: 120px;
  margin: 5px;
  min-width: 320px;
  background-color: #DFDFDF;
}

/* frontlab theme */
.frontlab--color {
  color: $frontlab;
}

/* typography */
a {
  text-decoration: none;
  color: purple;
}
a:hover {
  opacity: .84;
}
